
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    justify-content: space-between; 
    width: 100%;
    min-height: 100vh;
    padding: 40px;
    gap: 40px;
}

body{
    background-color: rgb(137, 139, 255);
   
}
.container{
    display: flex;
    gap: 20px;
    flex-direction: row;
    padding-bottom: 150px;
}

.cont {
    flex: 0 0 400px; 
}
.box{
    width: 300px;
    height: 60px;
    background-color: #93FBFF;
    display: flex;
    justify-content:center;
    align-items: center;
    font-weight: bold;
}

.btn{
    width: 300px;
    height: 60px;
    background-color: #30D5C8;
    display: flex;
    justify-content:center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}

.btn:hover{
    background-color: #33F8E8;
}

.right {
    flex: 1;
    display: flex;
    justify-content: center;
    
    margin-left: auto;
}


.card {
    width: 800px;       
    height: 500px;  
    background: #68F5FF;
    padding: 25px;
    border-radius: 12px;
    text-align: center;
    
}

.cont select {
    width: 300px;
    height: 50px;
    background-color: #93FBFF;
    border: none;
    padding: 0 12px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.cont select option {
    background: white;
    color: black;
}